{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
            
                <div class="bd-example">
                    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-9 bg-secondary">
                                        <img src="{{ MEDIA_URL }}drinks_bar.jpg" class="d-block w-100" alt="drinks bar">
                                        <div class="carousel-caption">
                                            <h5>You play, we pour</h5>
                                            <p>All drinks can be ordered from your phone and we will deliver them to your table.</p>
                                        </div>
                                    </div>
                                    <div class="col-3 bg-secondary">
                                        <a href="{% url 'products' %}" class="btn btn-lg btn-primary">Order</a>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-9">
                                        <img src="{{ MEDIA_URL }}covid_19.jpg" class="d-block w-100" alt="covid 19">
                                        <div class="carousel-caption">
                                            <h5>Covid-19 restrictions</h5>
                                            <p>All drinks must be ordered from your phone. We will deiver direct to your table.</p>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <a href="{% url 'products' %}" class="btn btn-lg btn-primary">Order</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
{% endblock %}