{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
        <h1 class="ml-1">Feedback</h1>
        <form action="{% url 'feedback_view' %}" method="POST" id="feedback-form">
            {% csrf_token %}
            <fieldset class="rounded px-2">
            {{ table_form.table_number | as_crispy_field }}
            {{ table_form.clean_rating | as_crispy_field }}
            {{ table_form.damage_rating | as_crispy_field }}
            {{ review_form.review_text | as_crispy_field }}
            {{ review_form.rating | as_crispy_field }}
            </fieldset>
            <button id="submit-button" class="btn btn-success rounded-0 ml-2">
                <span class="font-weight-bold">Submit feedback</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </button>
        </form>
    </div>
</div>
{% endblock %}